<%- include('../partials/header') %>

<% if (user) { %>
  <body>
    <div class="profile-body-container">
      <div class="user-info-container">
        <h3><%= user.name %></h3>
        <img class="img-profile" width="300" src='<%= user.avatar %>'>
        <p>
          Email: <%= user.email %><br>
          Stats: <%= user.googleId %>
        </p>
        <p>Wish List</p>
      </div>
      <div class="visited-parks-wrapper">
        <h3 class="main-head">Parks I have Visited</h3>
        <h3 class="main-head">Parks I have Visited</h3>
  
      
      </div>
    </div>

    <% } else { %>
      <div class="error-container">
        <h3 class="error-title">Please Login to access profile!</h3>
        <img class="nps-logo-large" src="../images/NPS_Logo_Hi_Res.png" alt="NPS Logo">
    </div>
    <% } %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<%- include('../partials/footer') %>