<%- include('../partials/header') %>

  <body class="allParks-body">
    <h1>All Parks Page</h1>
    <div class="parks-container">
      <div class="row">
          <% for(var i = 0; i < parkData.data.length; i++) { %>
            <div class="park-image">
              <div class="thumbnail">
                <div class="image-title"><%= parkData.data[i].fullName %></div>
                <img src="<%= parkData.data[i].images[0].url %>" width="300" height="200">
                <a class="more-info-btn" target="_blank" href=" <%= parkData.data[i].url %>">More Info</a>
                <form method="POST" action="/users/index">
                  <input type="hidden"  name="name" value="<%= parkData.data[i].fullName %>">
                  <input type="hidden"  name="description" value="<%= parkData.data[i].description %>">
                  <input type="hidden"  name="photoURL" value="<%= parkData.data[i].images[0].url %>">
                  <button type='submit' class="add-visited-park-btn" >Visited List</button>
                </form>
                <form method="POST" action="/users/index">
                  <input type="hidden"  name="name" value="<%= parkData.data[i].fullName %>">
                  <input type="hidden"  name="description" value="<%= parkData.data[i].description %>">
                  <input type="hidden"  name="photoURL" value="<%= parkData.data[i].images[0].url %>">
                  <button type='submit' class="add-wish-park-btn" >Wish List</button>
                </form>
              </div>
            </div>
          <% } %>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<%- include('../partials/footer') %>