<%- include('../partials/header') %>

  <body>
    <h1><%= filteredData[0].fullName %></h1>
    <a class="visited-park-btn" type="submit" href="./index/req.user_id%>">Visited Park!</a>
    <div class="onepark-body-container">
        <div class="onepark-info-container">
          <img class="park-img" src="<%= filteredData[0].images[0].url %>" width="300" height="200">
          <div class="park-info">
            <p>Description: <%= filteredData[0].description %></p>
            <p>Location: <%= filteredData[0].states %></p>
            <p>Operating Hours:</p>
            <p>Amenities:</p>
          </div>
        </div>
        <div class="onepark-comments-wrapper">
          <div class="onepark-comments-main-head">
            <h3>Visitor Comments</h3>
          </div>
          <div class="individ-comments-wrapper">   
            <p>Another Test<p>
          </div>
          <div class="individ-comments-wrapper">
            <p>Kyle A. :THIS IS A TEST COMMENT</p>
          </div>
          <div class="individ-comments-wrapper">
            <p>Michelle M.: THIS IS A TEST COMMENT</p>
          </div>
          <div class="individ-comments-wrapper">
            <p>Andrew C.: THIS IS A TEST COMMENT</p>
          </div>
          <div class="comment-form-container">
            <form class="add-comment-form" method="POST" action="/allParks/<%= filteredData[0].parkCode %>">
              <label>Comment:</label>
              <textarea name="content"></textarea>     
              <input type="submit" value="Add Comment">
            </form>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<%- include('../partials/footer') %>